/sites/default/files/
sites/default/private/
sites/*/settings.php
sites/*/services.yml
/vendor/
/core/
/node_modules/
/config/
/sites/default/files/config_*
*.sqlite
*.log
*.gz
*.zip
*.tar
*.DS_Store
.idea/
/.env
X
